
.container-title{
    width: 100%;

}
.allblocks
{
    display: flex;
    width: 100vw;
    height: 500px;
    margin-left: 4vw;
    margin-right: 3vw;



}
.second-block
{
    display: contents;
    flex-wrap: wrap;


}

.container-title > img
{
    width: 20vw;
    height: 62px;
    margin-left: 4vw;
}
.container-footer
{
    width: 100%;
    height: 800px ;
    background-color: #eeeeee;


}
.block-container
{
    width: 23.5vw;
    padding: 1vw;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: 0px;
}
.btn-style-footer{
    width: 90%;
}
.font-item
{
    padding: 0.4vw;
    font-weight: 470;

}

.btn-footer
{
    width: 90%;
}

.grid
{
    display: grid;

}

.item-block
{
    padding-left: 0;

}
.top-list
{
    border-top: #0a0908;
    border-top: solid;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 18vw;

}
.allblocks .ul
{position: relative}

li{
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {

    .second-block{
      display: block;

    }

    .block-container
    {
        width: 34vw;

        height: 191px;
        padding-top: 10px;
    }

}
.container-dropdown
{
    display: none;
}

@media only screen and (max-width: 600px) {

    .allblocks
    {
        display: none;
    }
    .container-dropdown
    {
        display: block;
        width: 100%;
    }
    .button-style
    {
        border: none;
        font-weight: 650;

    }
    .block-dropdown
    {

        margin: 8px;
        height: auto;
        align-content: center;

        border-top-style: solid;

        border-width: 2.1px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .title-collapse
    {
        font-family: "Arial";
        text-decoration: unset;
        padding-left: 10px;
        color: #0a0908;
        font-weight: 700;
        width: 400px;
    }
    .title-collapse:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }
    .container-title
    {
        align-content: center;
        text-align: center;
        padding-left: 0;

    }
    .btn-style-footer
    {
        font-weight: 700;
        font-size: larger;
        height: 65px;
        width: 97%;
        margin: 8px;
    }
    .container-title > img
    {
        width: 80vw;
        margin-left: 0;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btn-greater
    {
        border: 0;
        float: right;
    }

    .btn-1
    {
        border-top-style: solid;
        border-width: 2.1px;
        padding-top: 12px;
        margin: 10px;
    }


}

.terms
{
    border-top-style: solid;
    border-width: thin;
    padding-top: 40px;
    padding-left: 20px;
    justify-items: center;
    width: 100%;
    height: 80px;
}