@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container-inside-header
{
    max-width: -webkit-fill-available;
    margin-left: 20px;
    margin-right: 20px;

}

.header{
    width: 100%;
    height: 226px;
    position: static;


}
.headersticky{
    padding-top: 1px;
    width: 100%;
    height: 64px;
    background-color: white;
    border-bottom-style: solid;

}


#second-container{
    width: 100%;
    height: 162px;
    position: static;
}
.border-first-nav
{
    border-bottom: solid;
    border-width: thin;
}
.btn-style
{
        background-color: #006394;
        border-color: #006394;
        margin-left: 15px;
        color: white;
        font-family: "Arial";
        height: 47px;
        width: 120px;
}

.btn-style:hover, .btn-style-hidden:hover{

    background-color: blue;
    color: white;
    text-decoration: underline;
}

.container-btn-hidden
{
    width: 320px;
    height: 60px;
    margin: 0;

}


.btn-style-hidden
{
    background-color: #006394;
    border-color: #006394;
    color: white;
    align-content: center;
    width: 220px;
    height: 43px;
    position: absolute;
    margin-top: 10px;
    margin-left: 41px;
    font-weight: 700;

}

.first_nav, .col{
    width: 100%;
    height: 64px;
    align-content: center;

}


.col, .col-6
{
    padding: 1px;
    align-content: center;
}

#root
{
    overflow: hidden;
}

.nav-menu
{
    overflow: hidden;
    width: 0px;
    transition: width 0.2s;
    white-space: nowrap;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 64px;
    opacity: unset;
    display: block;
    height: auto;

}
.nav-menu-right{
    position: absolute;
    overflow: hidden;
    transition: width 0.2s;
    background-color:white;
    right: 0px;
    top:64px;
    width: 0px;

}
.container-empty{
    height: 250px;
}
.active{
    z-index: 1;
    margin:0;
    width: 320px;
    height:100vh;
    overflow-y: scroll;
    position: absolute;
    float: left;

}
.icon-search , .icon-user
{
    align-content: center;
    padding-left: 10px;
}

.icon-search:hover ,.icon-user:hover
{
    cursor: pointer;
}
.icon-greater
{
    margin-top: 7px;
    padding: 5px;

}

.icon_nav
{
    cursor: pointer;
}
.icon_nav::after
{
    font-family: "Helvetica Neue";
    font-size: larger;
    margin-left: 10px;
    content: "All Section";
    font-weight: 600;


}

.title-page{
    display: none;
    text-align: center;
    align-content: center;

}


.active-title
{
    height: 64px;
    text-align: center;
    align-content: center;
    display: block;
    padding-bottom: 5px;


}

.container-button
{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 10px;
}


.icon-weather::before{
    padding-right: 0.2vw;
    content: "68°F";
    font-size: 1rem;
    font-weight: 700;
    color: #0a0908;;
    position: absolute;
    padding-top: 0.5rem;

}
.icon-weather::after
{
    padding-left: 0.8rem;
    font-family: "Helvetica Neue";
    content: "Friday, April 26th 2024";
    font-size: 1rem;
    font-weight: 900;
    color: #0a0908;
    position: absolute;
    padding-top: 0.5rem;

}
.icon-weather > i{
    font-size: 1.9rem;
    padding-left: 2.8rem;
}

.active-title > img , .title-page >img
{
    padding-top: 0.7vw;
    width: 24vw;
    height: 62px;
}





.middle-nav
{
    height: 80px;


}

.container-fluid > ul > li
{
    padding: 0.5rem;
    font-size: 1rem ;

}
.container-fluid > ul > li> a
{
    color: #0a0908;
    font-weight: 700;
}

.container-weather
{
    height: 64px;
    align-content: center;
    position: relative;


}
.container-icon-button{
    display: none;
}
.nav-hidden-style > li> .btn-style
{
    width: 70%;

}



.item-style
{
    margin: 10px;
    height: 20px;
    background-color: grey;
}
.bottom-nav{
    align-content: center;
    text-align: center;
    height:60px;
    margin-top: -5px;
    border-bottom-style: solid ;
    border-width: thin;
    border-color: grey;
}


.container-bottom-hidden
{
    margin-top:80px;
    height: 150px;
    border-top: solid;
    border-width: thin;
    margin-bottom: 70px;

}
.text-center
{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;

    font-weight: 650;
}
.list-item-style
{
    border: none;
    padding-top: 12px;
    font-weight: 650;
}

.navbar>.container-fluid{
    justify-content: center;
}

.container-nav-trending > p{

    color: dodgerblue;
    margin-right: 45px;
    font-size: 0.98rem;
    height: 60px;
}

.container-nav-trending
{


    display: flex;
    font-size: 0.98vw;
    height: 30px;
}
.weather-inside
{
    display: none;
    padding-left: 12px;
}


@media only screen and (max-width: 1050px) {

    .container-button{
        display: none;
    }
    .icon_nav::after
    {
        display: none;
    }
    .container-icon-button{
        float: right;
        display: flex;
        flex-wrap: nowrap;
    }
    .icon-search{
        padding-left: 10px;
    }
    .title-page,.weather-inside
    {
        display: block;
    }
    .disable-title, .container-weather, .bottom-nav,.container-nav-trending,#second-container
    {
        display: none;
    }

    .header
    {
        height: 64px;
    }

}

@media only screen and (max-width: 700px) {

    .active-title > img , .title-page >img
    {
        padding-top: 0.7vw;
        width: 35vw;
        height: 62px;
        justify-content: center;

    }
    .container-inside-header
    {
        margin-left: 6.5vw;
        margin-right: 6.5vw;
        padding: 0;
    }
    .container-icon-button ,.icon_nav
    {
        font-size: 3vw;

    }
    .first_nav
    {
        align-content: center;
    }

    .list-footer
    {
        padding-left: 5px;
        margin: 2px;
        font-family: Arial;
    }

}
body{
    overflow-x: hidden;

}
