@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container
{
    max-width: -webkit-fill-available;
   margin-left: 20px;
    margin-right: 20px;


}
.header{
    width: 100%;
    height: 226px;
}

#second-container{
    width: 100%;
    height: 162px;
}
.border-first-nav
{
    border-bottom: solid;
    border-width: thin;
}
.btn-style
{
        background-color: #006394;
        border-color: #006394;
        margin-left: 15px;
        color: white;
        font-family: "Arial";
        height: 47px;
        width: 120px;
}

.btn-style:hover{

    background-color: blue;
    color: white;
    text-decoration: underline;
}

.first_nav, .col{
    width: 100%;
    height: 64px;
    align-content: center;
}
.col, .col-6
{
    padding: 1px;
}


.nav-menu
{
    overflow: hidden;
    width: 0px;
    transition: width 0.2s;
    white-space: nowrap;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 64px;
    opacity: unset;

}
.nav-menu-right{
    position: absolute;
    overflow: hidden;
    transition: width 0.2s;
    background-color:purple;
    right: 0px;
    top:64px;
    width: 0px;
}
.active{
    z-index: 1;
    margin:0;
    width: 250px;
    height:100vh;
    overflow: scroll;
    position: fixed;
    float: left;
}
.icon-search , .icon-user
{
    align-content: center;
    padding-left: 10px;
}

.icon-search:hover ,.icon-user:hover
{
    cursor: pointer;
}

.icon_nav
{
    cursor: pointer;
}
.icon_nav::after
{
    font-family: "Helvetica Neue";
    font-size: larger;
    margin-left: 10px;
    content: "All Section";
    font-weight: 600;


}

.title-page{
    display: none;
    text-align: center;
    align-content: center;

}


.active-title
{
    height: 64px;
    text-align: center;
    align-content: center;
    display: block;

}


.container-button
{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 10px;
}


.icon-weather::before{
    padding-right: 0.2vw;
    content: "68°F";
    font-size: 1rem;
    font-weight: 700;
    color: #0a0908;;
    position: absolute;
    padding-top: 0.5rem;

}
.icon-weather::after
{
    padding-left: 0.8rem;
    font-family: "Helvetica Neue";
    content: "Friday, April 26th 2024";
    font-size: 1rem;
    font-weight: 900;
    color: #0a0908;
    position: absolute;
    padding-top: 0.5rem;

}
.icon-weather > i{
    font-size: 1.9rem;
    padding-left: 2.8rem;
}

.active-title > img , .title-page >img
{
    padding-top: 0.8vw;
    width: 30vw;
    height: 64px;
}











.middle-nav
{
    height: 80px;
    background-color: white;

}

.container-fluid > ul > li
{
    padding: 0.5rem;
    font-size: 1rem ;
    padding-top: 1rem;
}
.container-fluid > ul > li> a
{
    color: #0a0908;
    font-weight: 700;
}

.container-weather
{
    height: 64px;
    align-content: center;
    position: relative;


}
.container-icon-button{
    display: none;
}

.bottom-nav{
    align-content: center;
    text-align: center;
    height:60px;
    margin-top: -5px;
    border-bottom-style: solid ;
    border-width: thin;
    border-color: grey;
}

.navbar>.container-fluid{
    justify-content: center;
}

@media only screen and (max-width: 1050px) {

    .container-button{
        display: none;
    }
    .icon_nav::after
    {
        display: none;
    }
    .container-icon-button{
        float: right;
        display: flex;
        flex-wrap: nowrap;
    }
    .icon-search{
        padding-left: 10px;
    }
    .title-page
    {
        display: block;
    }
    .disable-title, .container-weather, .bottom-nav
    {
        display: none;
    }
    .header
    {
        height: 64px;
    }
}