@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container-inside-header
{
    max-width: -webkit-fill-available;
    padding: 0;
    z-index: 1;


}

.header{
    width: 100vw;
    height: 226px;



}
.headersticky{
    padding-top: 1px;
    width: 100%;
    height: 63px;
    background-color: white;
    border-bottom-style: solid;
    border-width: 0.8px;
    position: fixed;
    border-bottom-color: #a8a5a5;
    box-shadow: 1px 5px 6px #dedede;
    z-index: 100;

}


#second-container{
    width: 100%;
    height: 162px;
    position: static;
}

.btn-style
{
        background-color: #006394;
        border-color: #006394;
        margin-left: 15px;
        color: white;
        font-family: "Arial";
        height: 45px;
        width: 120px;
}
.nav-item
{
    width: auto;
    font-size: medium;
}
.btn-search
{
    background-color: #006394;
    border-color: #006394;
    margin-left:15px;
    color: white;
    font-family: "Arial";
    width: auto;
    height: auto;
    float: right;

}


.btn-style:hover, .btn-style-hidden:hover,.btn-search:hover{

    background-color: #007ab8;
    color: white;
    text-decoration: underline;
}

.container-btn-hidden
{
    width: 100%;
    height: 60px;
    margin: 0;


}


.btn-style-hidden
{
    background-color: #006394;
    border-color: #006394;
    color: white;
    align-content: center;
    width: 220px;
    height: 43px;
    position: absolute;
    margin-top: 10px;
    margin-left: 41px;
    font-weight: 700;

}
.row-disable
{
    height: 62px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.first_nav, .col{
    width: 100vw;
    height: auto;
    align-content: center;

}
.first_nav{
    position: relative;


}



.col, .col-6
{
    padding: 1px;
    align-content: center;
}

#root
{
    overflow: hidden;

}

.nav-menu
{
    overflow: hidden;
    width: 0px;
    transition: width 0.2s;
    white-space: nowrap;
    position: fixed;
    background-color: white;
    left: 0px;
    opacity: unset;
    display: block;
    height: auto;

}
.nav-menu-right{
    position: absolute;
    overflow: hidden;
    transition: width 0.2s;
    background-color:white;
    right: 0px;

    width: 0px;

}
.search
{

    display: none;

}
.form-style
{
    border: none;
    width: 85%;
    margin-left: 6px;
    outline: none;
}

#left-nav-menu::before
{
    left: 320px;


}
.nav-menu-right::before
{
    right: 320px;

}

.input-group-form
{
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    height: 60px;
    display: inline-flex;
    padding-left: 50px;
    position: fixed;
}

.active-search
{
    border-top-style: solid;
    border-width: thin;
    margin-top: 0px;
    display: block;
    z-index: 2;
    width: 100%;
    position: fixed;
    height: 50px;

}
.container-empty{
    height: 250px;
}

.active-nav{


    margin:0;
    width: 320px;
    height:100vh;
    overflow-y: scroll;
    position: absolute;
    float: left;
    scrollbar-width: none;



}
.navbar
{
    position: unset;
}
.active-search::after
{
    top: 123px;
}

.active-nav::before
{

    content:" ";
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    overflow-y: hidden;

    top:62px;
}

.active-search::after
{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    overflow-y: hidden;
}
#left-nav-menu
{
    border-top-style: solid;
    border-top-width: thin;
}


.icon-search , .icon-user
{
    align-content: center;
    padding-left: 10px;
}

.icon-search:hover ,.icon-user:hover
{
    cursor: pointer;
}
.icon-greater
{
    margin-top: 7px;
    padding: 5px;

}

.icon_nav
{
    margin-left: 2vw;
    cursor: pointer;

}
.icon_nav::after
{
    font-family: "Helvetica Neue";
    font-size: larger;
    margin-left: 10px;
    content: "All Section";
    font-weight: 600;


}

.title-page{
    display: none;
    text-align: center;
    align-content: center;

}


.active-title
{
    height: auto;
    text-align: center;
    align-content: center;
    display: block;
    padding-bottom: 5px;


}


.container-button
{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 2.1vw;
    padding-bottom: 5px;
}


.icon-weather::before{
    padding-right: 0.2vw;
    content: "68°F";
    font-size: 1rem;
    font-weight: 700;
    color: #0a0908;;

    padding-top: 0.5rem;

}
.icon-weather::after
{
    padding-left: 0.8rem;
    font-family: "Helvetica Neue";
    content: "Friday, April 26th 2024 ";
    font-size: 1rem;
    font-weight: 900;
    color: #0a0908;

    padding-top: 0.5rem;
    width: auto;

}



.icon-weather > i{
    font-size: 1.9rem;
    padding-left: 0.8rem;
}

.active-title > img , .title-page >img
{

    width: 26vw;
    height: 62px;
}





.middle-nav
{
    height: 80px;
    margin-left: 2%;


}

.container-fluid > ul > li
{
    padding: 0.5rem;
    font-size: 1rem ;

}
.container-fluid > ul > li> a
{
    color: #0a0908;
    font-weight: 700;
}

.container-weather
{
    height: 64px;
    align-content: center;

    margin-left: 2vw;


}
.container-icon-button{
    display: none;
}
.nav-hidden-style > li> .btn-style
{
    width: 70%;

}



.item-style
{
    margin: 10px;
    height: 20px;
    background-color: grey;
}
.nav-link:hover
{
    color: #007ab8;
}
.bottom-nav{
    align-content: center;
    text-align: center;
    height:60px;
    margin-top: -5px;
    border-bottom-style: solid ;
    border-width: thin;
    border-color: grey;
}


.container-bottom-hidden
{
    margin-top:80px;
    height: 150px;
    border-top: solid;
    border-width: thin;
    margin-bottom: 70px;

}
.text-center
{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;

    font-weight: 650;
}
.list-item-style
{
    border: none;
    padding-top: 12px;
    font-weight: 650;

}


.nav-trending
{
    list-style-type: none;
}
.navbar>.container-fluid{
    justify-content: center;
    width: auto;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.container-nav-trending > p{

    color: #006394;
    margin-right: 45px;
    font-size: 0.98rem;
    height: 60px;
    font-weight: 700;
}

.container-nav-trending
{
    display: flex;
    font-size: smaller;
    height: 30px;
}
.weather-inside
{
    display: none;
    padding-left: 12px;
}


@media only screen and (max-width: 1000px) {

    #left-nav-menu
    {
        border: none;
    }
    .search-form
    {
        padding-left: 0.9vw;
    }
    .input-group-form,.search
    {
        width: 100vw;
        padding: 0;
        padding-right: 2.5rem;
        left: 0px;

    }
    .row-disable
    {
        align-content: center;
    }

    .container-inside-header
    {
        margin-right: 45px;
        margin-left: 10px;
    }

    .header
    {
        height: 62px;
        border-bottom-style: solid;
        border-width: 0.8px;
        border-bottom-color: #a8a5a5;
    }
    .container-button{
        display: none;
    }
    .icon_nav::after
    {
        display: none;
    }
    .container-icon-button{
        float: right;
        display: flex;
        flex-wrap: nowrap;
    }
    .icon-search{
        padding-left: 10px;
    }
    .title-page,.weather-inside
    {
        display: block;
    }
    .disable-title, .container-weather, .bottom-nav,.container-nav-trending,#second-container
    {
        display: none;
    }
    .first_nav
    {
        width: 100vw;

    }
    .nav_wrapper_secondary ,.nav_wrapper_primary
    {
      height: 60px;
    }



    .active-title
    {
        padding: 0px;
    }
    .container-icon-button ,.icon_nav
    {
        font-size: 1rem;

    }

    .active-title > img , .title-page >img
    {
        padding-top: 0.5vw;
        width: 15rem;
        height: auto;
        justify-content: center;

    }


}

@media only screen and (max-width: 550px) {



    .search
    {
        width: 100vw;
        padding: 0;

        left: 0px;
    }

    .active-title > img , .title-page >img
    {
        padding-top: 0.7vw;
        width: 41vw;
        height: auto;
        justify-content: center;

    }

    .container-inside-header
    {
        margin-left: 6.5vw;
        margin-right: 6.5vw;
        padding: 0;

    }
    .container-icon-button ,.icon_nav
    {
        font-size: 3.2vw;

    }


    .list-footer
    {
        padding-left: 5px;
        margin: 2px;
        font-family: Arial;
    }

}
body{
    overflow-x: hidden;

}
