
.l,#adi{

    width: 100%;
    height: 225px;
    background-color: white;
    position: -webkit-sticky; /* For Safari */


}
.page{
    padding: 0.4%;
}
.container-body {

    margin-top: 40px;
}
.al{
    display: grid;
    position: relative;
}

.footer-container
{
    position: relative;
}
.page-body
{



}
@media only screen and (max-width: 1000px) {
    .l,#adi{
        height:64px;
    }

}




