
.l,#adi{

    width: 100%;
    height: auto;
    background-color: white;
    position: -webkit-sticky; /* For Safari */
    position: fixed;
    top: 0;

}

.footer-container
{
    position: relative;
}

